.footer {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 537px;
    background: #EDF2EC;
}

.footer_c {
    display: flex;
    justify-content: space-between;
    height: 469px;
    width: 100%;
    margin: 62px 109px;
    
}

.footer_c_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 458px;
}

.footer_images {
    list-style-image: url(../img/V.png);
}

.footer_text {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 35px;
    color: #636060;
}

.footer_text_2 {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #636060;
}